name: Build pull requests
on:
    pull_request:
        types: [opened, reopened]   


jobs:
  build:
    permissions:
        contents: write
        pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Typst
        uses: lvignoli/typst-action@main
        with:
          source_file: |
            cheatsheet.typ
          options: "--font-path=./fonts/"
      - name: Upload artifacts
        id: artifact
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: cheatsheet.pdf
      - name: Add link with comment
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            Link al PDF compilato ${{ steps.artifact.outputs.artifact-url }}